@{
    ViewData["Title"] = "Project CoffeeManagement";
}
<h1>@ViewData["Title"]</h1>
<br>
<p>SE1615-NET, Group 5:</p>
<p>Nguyễn Duy Nam Khánh</p>
<p>Trần Đức Triệu</p>
<p>Nguyễn Trọng Lư</p>
<p>Trịnh Quang Vinh</p>
