@model Group5.Models.Show

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" />
            <input type="hidden" asp-for="RoomId" />
            <input type="hidden" asp-for="ShowDate" />
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select asp-for="FilmId" asp-items="ViewBag.FilmId" class="form-control"></select>
                <span asp-validation-for="Film" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" id="price" onchange="checkPrice()" required pattern="[0-9]{1, 999999}"/>
                <span id="alert"></span>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot" class="control-label"></label>
                <select asp-for="Slot" asp-items="ViewBag.Slot" class="form-control"></select>
                <span asp-validation-for="Slot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="create"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script type="text/javascript">
    function checkPrice() {
        var price = document.getElementById('price').value;
        if (price < 0) {
            document.getElementById('alert').innerHTML = "price must be from 0 to 999,999";
            document.getElementById('alert').style.color = 'red';
            document.getElementById('create').disabled = true;
            document.getElementById('create').style.opacity = (0.4);
        } else {
            document.getElementById('alert').innerHTML = "";
            document.getElementById('create').disabled = false;
            document.getElementById('create').style.opacity = (1);
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
