@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    @{
        int count = 1;
        foreach(TableCoffee tc in ViewBag.TableCoffee)
        {
            if (tc.Status.Equals("Blank")) {
                <a asp-action="Book" asp-route-id="@tc.Id" class="btn btn-success" style="width: 75px; margin: 2px"><i class="fa fa-plus"></i> Table @tc.Id</a>
            } else
            {
                <a asp-action="Book" asp-route-id="@tc.Id" class="btn btn-danger" style="width: 75px; margin: 2px"><i class="fa fa-plus"></i> Table @tc.Id</a>
            }
            count++;
            if (count == 6)
            {
                count = 1;
                <br />
            }
        }
    }
</div>


