@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    @{
        int count = 1;
        for (int i = 1; i <= ViewBag.TableCoffee.Count; i++)
        {
            <a asp-action="Book" asp-route-id="@i" class="btn btn-success" style="width: 75px; margin: 2px"><i class="fa fa-plus"></i> Table @i</a>
            count++;
            if (count == 6)
            {
                count = 1;
                <br />
            }
        }
    }
</div>


